.page-menu {

  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  /* padding-right: 15px; */
}

ul.breadcrumbs li+li:before {
  padding: 8px;
  color: #7D8184;
  content: "/\00a0";
}

.breadcrumbs__link {
  position: relative;
  color: #7D8184;
}

.breadcrumbs__link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid #7D8184;
  bottom: 0;
}