.button {
    padding: 16px 48px;
    background-color: #DB4444;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #DB4444;
    cursor: pointer;
}

.button:hover {
    background-color: #E07575;
    border-color: #E07575;
    transition: 0.5s ease-out;
}

.banner__button {
    background-color: #00FF66;
    border: none;
}

.banner__button:hover {
    background-color: #A0BCE0;
    transition: 0.5s ease-out;
    border: none;
}

.button__white {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #7D8184;
}

.button__white:hover {
    color: #7D8184;
    background-color: #ffffff;
    border: 1px solid #7D8184;
    transition: 0.5s ease-out;
    border-color: #7D8184;
}