.cart {
    margin-top: 80px;
    margin-bottom: 140px;
}

.cart__box {
    margin-top: 80px;
}

.cart__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart__block-list {
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
}

.cart__block-row {
    width: 100%;
    min-height: 102px;
    display: flex;
    justify-content: space-between;
}

.cart__block-row_up {
    height: 72px;
}

.cart-image {
    width: 50px;
    margin-right: 20px;
}

.cart__item {
    position: relative;
    width: 33.33%;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.cart__item:last-child {
    width: 70px;
}

.cart__item-input {
    width: 72px;
    height: 44px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    border: 1px solid #7D8184;
    /* ниже убираю стрелки */
    -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.cart__item-quantity {
    position: relative;
}

.cart_arrow_up {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 12px;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
}

.cart_arrow_up-img,
 .cart_arrow_down-img {
    width: 100%;
}
.cart_arrow_down {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 6px;
    right: 12px;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
}

.icon-cancel {
    position: absolute;
    top: 20px;
    left: -11px;
    cursor: pointer;
}

.cart__block-buttons {
    margin-top: 24px;
    margin-bottom: 80px;
}

.cart__coupon_button {
    margin-left: 16px;
}

.cart__coupon_input {
    width: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #7D8184;
    border-radius: 4px;
}

.cart__total {
    padding: 32px 24px;
    width: 422px;
    display: flex;
    flex-direction: column;
    border: 1px solid #7D8184;
    border-radius: 4px;
}

.cart__total-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.cart_-total-list {
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.cart__total-item {
    display: flex;
    justify-content: space-between;
}

.cart__total-line {
    position: relative;
}

.cart__total-line::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    border-bottom: 1px solid #7D8184;
    bottom: -16px;
}

.cart__total-button {
    margin: 0 auto;
}

.icon-cancel {
    height: 18px;
    width: 18px;
    top: 22px;
    left: -8px;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    background-color: #DB4444;
    border: none;
    border-radius: 50%;
}