.header {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #E5E5E5;
}

/* =============================================== header-top */
.header-top__container {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
}

.header-top__ad {
  display: flex;
  align-items: center;
}

.header-top__ad-link {
  margin-left: 8px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.header-top__ad-link:hover {
  text-decoration: underline;
}

/* еще подумать, как распределить блоки */
.header-top__language {
  margin-left: 230px;
  width: 78px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  color: #ffffff;
  border: none;
  background-color: transparent;
  background-position: calc(100%) center !important;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
}

/* ниже стилизация выпадающего списка select */
.header-top__language * {
  background-color: #000000;
}

/* ниже оставила заклмментированный код на случай возврата к ссылке */
/* .header-top__language::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/arrow-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    vertical-align: middle;
    margin-left: 8px;
} */

/* .header-top__language-link {
    text-decoration: none;
    color: #ffffff;
} */

/* =============================================== header-menu */
.header-menu {
  height: 92px;
}

.header-menu__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-burger,
.burger,
.menu-mask {
  display: none;
}

.header-menu__name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.header-menu__menu-list {
  display: flex;
  list-style-type: none;
}

.header-menu__menu-item:nth-child(n+2) {
  margin-left: 48px;
}

.header-menu__menu-link {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.header-menu__menu-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid #7D8184;
  bottom: 0;
}

.header-menu__block-user {
  display: flex;
  align-items: center;
}

.header-menu__inputs {
  font-size: 0;
}

.header-menu__input {
  width: 195px;
  height: 38px;
  padding-left: 22px;
  vertical-align: middle;
  font-size: 12px;
  background-color: #F5F5F5;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header-menu__input-loupe {
  width: 48px;
  height: 38px;
  vertical-align: middle;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #F5F5F5;
  background-image: url("../images/icons/loupe-header.svg");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-menu__icons {
  display: flex;
}

.header-menu__icons-heart {
  position: relative;
  margin-left: 30px;
}

.header-menu__icons-cart,
.header-menu__icons-user {
  position: relative;
  margin-left: 16px;
}

.product-counter {
  position: absolute;
  width: 16px;
  height: 16px;
  right: -1px;
  top: -2px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #DB4444;
  border: none;
  border-radius: 50%;
}

/* ====================================================== */
@media (max-width: 992px) {

  .header-top__container {
    justify-content: center;
  }

  .header-top__language {
    display: none;
  }

  .burger {
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }

  .burger span {
    display: block;
    width: 23px;
    height: 3px;
    background-color: #151812;
  }

  .header-menu__menu {
    display: none;
  }

  .header-menu__input {
    display: none;
  }

  .header-menu__input-loupe {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-size: 30px;
  }

  .header-menu__icons-heart {
    margin-left: 15px;
  }

  /* ниже закомментированы стили для страницы при клики на меню-бургер. Те, что закомментированы, подключить при клике на меню-бургер */
  .menu-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 1;
  }

  /* .burger {
    display: block;
  } */

  .menu-burger {
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }

  .menu-burger__menu {
    position: relative;
    width: 200px;
    height: 100%;
    padding-left: 10px;
    padding-top: 60px;
    background-color: #F5F5F5;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }

  .menu-cross {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .header-menu__menu-list {
    flex-direction: column;
  }

  .menu-burger__language {
    width: 100%;
    line-height: 24px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: none;
    background-color: transparent;
    background-position: 90% center;
    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
  }

  .header-menu__menu-item {
    margin-left: 48px;
    margin-bottom: 28px;
  }
}

/* ====================================================== */
@media (max-width: 576px) {
  .container {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .header-top__container {
    font-size: 9px;
    line-height: 11px;
  }

  .header-top__ad-link {
    margin-left: 0;
    font-weight: 400;
  }
}