@import url('./normalize.css');
@import url('./fonts.css');
@import url('./signup-login.css');
@import url('./form.css');
@import url('./button.css');
@import url('./breadcrumbs.css');
@import url('./dropdown.css');
@import url('./card.css');
@import url('./account.css');
@import url('./header.css');
@import url('./index.css');
@import url('./footer.css');

body {
  height: 100vh;
  /* box-sizing: border-box; */
  font-family: Poppins, Arial, sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.hidden {
  display: none;
}

.bg-black {
  background-color: #000000;
  color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.text-red {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #DB4444;
}

.subtitle-red {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #DB4444;
}